<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<p id="notice"><%= notice %></p>
<p><%= @company%></p>

<%= link_to 'Edit', edit_freeagent_api_authentication_path(@freeagent_api_authentication) %> |
<%= link_to 'Back', freeagent_api_authentications_path %>
