<h1>Freeagent Api Requests</h1>
<br>
<table>
  <thead>
    <tr>
      <th>Endpoint</th>
      <th>Method</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @freeagent_api_requests.each do |freeagent_api_request| %>
      <tr>
        <td><%= freeagent_api_request.endpoint %></td>
        <td><%= freeagent_api_request.method %></td>
        <td><%= link_to 'Show', freeagent_api_request %></td>
        <td><%= link_to 'Edit', edit_freeagent_api_request_path(freeagent_api_request) %></td>
        <td><%= link_to 'Destroy', freeagent_api_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Freeagent Api Request', new_freeagent_api_request_path, class: "btn" %>
