<!DOCTYPE html>
<html>
  <head>
    <title>Freeagent Api Demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png') %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <% if user_signed_in? %>
        <%= link_to('Edit profile', edit_user_registration_path) %>
        <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
      <% end %>
    </div>
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </body>
</html>
